@charset "UTF-8";

*{
    margin:0;
    padding:0;
}

body > main{
    margin: 20px;
}
/* HEADER*/
header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow properties */
    margin-bottom: 30px;
  }

.navbar-brand img {
    max-width: 95px;
    max-height: 109px;
    margin-left: 15px;
}
#começar {
    position: relative; /* Posicionamento relativo para usarmos left */
    left: 10%; /* Posiciona o botão à direita do conteúdo */

}
#começar .btn-primary {
    border-radius: 25px; /* Set the desired border radius */
}
.navbar-toggler{
    margin-left: 28px;
    border: none;
}

@media (max-width: 320px) { /* Para telas menores (tablets) */
    #começar {
        position: static; /* Remove o posicionamento relativo */
        margin-left: 0; /* Remove a margem esquerda */
    }
}

/*MAIN*/

#imgpromo {
    height: auto; /* Ajuste automático da altura */
  }


 @media (max-width: 520px) {
    #imgpromo  {
      max-width: 420px;
      max-height:696px;
      margin: 0 auto; /* Centraliza horizontalmente */
      border-radius: 10px; /* Arredonda a imagem */
    }

    #imagem-centralizada {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

  }



#h1local{
    text-align: center;
    font-size: 1.9em;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 20px;

}

#academia1{
    background-image: url(../imagens/academia/academia1.png);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 260px;
    border-radius: 16px;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

#academia1 > a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    padding: 14px 20px;
    color: black;
    text-decoration: none;
    background: #fff;
    border-radius: 46px;
    font-family: DM Sans, sans-serif;
    font-weight: 600;
    font-size: 14px;
}
#academia1 > a:hover{
    background-color:#1C1C1C ;
    color: white;
}


  
